<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="styles.css" type="text/css">

	<title>Gabber - New Gab</title>
</head>

<body>
	<header>
		<a>Gabble - Home</a>
		<a>New Gabble</a>
		<a>Who Likes You?</a>
		<a>Login</a>
		<a>Logout</a>
	</header>
<h1>Post a new Gab here</h2>
	<form action="/gabs" method="post">
		<input type="text">
		<input type="submit">
	</form>
</body>

</html>